body {
  text-align: center;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.example-exit {
  opacity: 1;
}

.mapDiv {
  display: flex;
  flex-direction: column-reverse;
}

.example-exit.example-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}
.flex {
  display: flex;
  flex-direction: column-reverse;
}
